
@{
    ViewBag.Title = "Index";
}
@*<meta name="viewport" content="width=320"/>*@
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>

<h2>Index</h2>
<p>
    bootstrap3的风格系统十分有用，风格系统把屏幕分为12栏，极小：<768 小：大于等于768 中等：大于等于992 大：大于等于1200。
    下面的html在移动设备上为每个元素指定6栏（风格宽度的一半），但在更大的显示屏幕上为每个元素指定4栏（网络 宽度的三分之一）
</p>
<div class="row">
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>

</div>

