
@{
    ViewBag.Title = "TestRedirect";
}

<h2>TestRedirect</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Redirect", "Redirect", "Home")</li>
        <li>@Html.ActionLink("RedirectPermanent", "RedirectPermanent", "Home")</li>
        <li>@Html.ActionLink("RedirectToAction", "RedirectToAction", "Home")</li>
    </ul>
</div>