
    <div ng-controller="ListController">
        总数：{{movies.length}}
        <table>
            <tr ng-repeat="movie in movies">
                <td>{{movie.Title}}</td>
                <td>{{movie.ReleaseYear}}</td>
                <td>{{movie.Runtime}}</td>
                <td>
                    <a class="btn btn-default" href="#/details/{{movie.Id}}">Details</a>
                </td>
                <td><button class="btn btn-default" ng-click="delete(movie)">Delete</button></td>
            </tr>
        </table>
        <button class="btn btn-default" ng-click="create()">Create</button>
        <div ng-include="'/client/views/edit.html'"></div>
    </div>

